
.hero{
    text-align:center;
    padding:40px 10px 40px;
  background: #f5f2fe;
;
}
.container{
    padding:20px 20px 20px;
    display:block;
    text-align:center;
}

img{
    display:flex;
}

footer {
    text-align:center;
    padding:15px;
    color:black;
    margin:20px 20px 20px;
}

footer a{
    color:black;
}
.footer-dec{
  background: #f5f2fe;

}

.hero a, .container a{
color:white;
background:violet;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 10px 10px;
  text-decoration: none;

}


@media (max-width:576px){
    img{
        display:none;


    }
}